/src/data/*
/src/trials/*
/src/models/baseline_models/logs/*
.DS_store
.vector_cache
.sent
saved_models
src/vector_cache/
trial_np_save.npy
src/novelty/__pycache__/
src/baseline_deep_models/__pycache__/
.torch-text-venv/
final_predictions.csv
src/cls_tokens/
src/cls_tokens_test/
src/preprocess/__pycache__